## KNN Imputer

This is one kind of Multivariable Imputation technique

<b>Simple Definition</b>: Any value acts as it's neighbours

We will fill missing value of any row with the same column value of most similar row of the dataframe. We calculate that similarity using Euclidean Distance

We will calculate the Euclidean Distance of the point with other points. Will fill the missing value of the point with the closest point's same dimention's value.

<b>Nan Gausian Distance</b>
dist(x,y) = sqrt(weight * sq. distance from present coordinator),
    where, weight = (Total number of coordinates)/(number of present coordinates)

K er value age thekei set kora thakbe like 2,3,4...
Ebar prottek point er NaN Gausian Distance ber korbo, then K er value joto thakbe totogulo nearest row er same column er value er gor amader missing value er jaygay boshbe.

Advantage:
    1. More Accurate

DisAdvantage:
    1. More Number of calculations
    2. Production e x_train upload deya lage naile distance calculate korte parbe na jodi notun kore kono missing value pay.

# CODE

In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('titanic.csv')[['Age','Pclass','Fare','Survived']]

In [4]:
df.head()

    Age  Pclass     Fare  Survived
0  34.5       3   7.8292         0
1  47.0       3   7.0000         1
2  62.0       2   9.6875         0
3  27.0       3   8.6625         0
4  22.0       3  12.2875         1

In [5]:
df.isnull().sum()

Age         86
Pclass       0
Fare         1
Survived     0
dtype: int64

In [6]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [8]:
x_train.head()

      Age  Pclass     Fare
280  23.0       3   8.6625
284   2.0       3  20.2125
40   39.0       3  13.4167
17   21.0       3   7.2250
362  31.0       2  21.0000

In [37]:
knn = KNNImputer(n_neighbors=2,weights='distance')

x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

In [38]:
data = pd.DataFrame(x_train_trf,columns=x_train.columns)
data

           Age  Pclass     Fare
0    23.000000     3.0   8.6625
1     2.000000     3.0  20.2125
2    39.000000     3.0  13.4167
3    21.000000     3.0   7.2250
4    31.000000     2.0  21.0000
..         ...     ...      ...
329  29.000000     3.0   7.8542
330  35.955817     1.0  31.6833
331  29.000000     3.0   7.9250
332  24.000000     2.0  27.7208
333  30.750000     1.0  27.7208

[334 rows x 3 columns]

In [39]:
data.isnull().sum()

Age       0
Pclass    0
Fare      0
dtype: int64

In [40]:
lr = LogisticRegression()

lr.fit(x_train_trf,y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test, y_pred)

0.6428571428571429

In [43]:
# Comparison with simple Imputer --> Mean

si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.fit_transform(x_test)

In [44]:
lr = LogisticRegression()

lr.fit(x_train_trf2,y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_test, y_pred2)

0.6428571428571429